# Pré-processamento (Câncer de Pulmão)

In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

In [22]:
df = pd.read_csv('breast-cancer-problemas.data')
columns = ['ID','radius','texture ','perimeter ','area','smoothness ','compactness','concavity','concave points','symmetry','fractal dimension']

In [10]:
df.head(5)

   1000025  5   1 1.1 1.2  2 1.3  3 1.4 1.5  2.1
0  1002945  5   4   4   5  7  10  3   2   1    2
1  1015425  3   1   1   1  -   2  3   1   1    2
2  1016277  6   8   8   1  3   4  3   -   1    2
3  1017023  4   1   1   3  2   1  3   1   1    2
4  1017122  8  10  10   8  7  10  9   7   1    4